@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide-fade-in {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: none;}
}
.slide-fade-in {
  animation: slide-fade-in 1s ease-out;
}